<header>
  <h1>YOU ARE LOGGED IN</h1>
  <%= link_to 'START NEW RUN', new_user_track_path(@user.id) %>
  <ul>
    <% @tracks.each do |track| %>
      <%= link_to user_track_path(user_id: @user.id, id: track.id) do %>
        <li>
          <p><%= track.created_at %></p>
          <p><%= track.created_at.strftime("%d %b %Y") %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</header>