<header>
  <h1>YOU ARE LOGGED IN</h1>
  <button id="start" onclick="getLocationUpdate()">Start</button>
  <button id="stop" onclick="stopWatch()">Stop</button>
  <script>
    var watchID;
    var geoLoc;

    var latitude = [];
    var longitude = [];

    function getLocationUpdate(){
      if(navigator.geolocation){
        geoLoc = navigator.geolocation;
        watchID = geoLoc.watchPosition(data => {
          console.log(data);
          latitude.push(data.coords.latitude);
          longitude.push(data.coords.longitude);
          window.localStorage.setItem('latitude',JSON.stringify(latitude));
          window.localStorage.setItem('longitude',JSON.stringify(longitude));
        }, (error) => console.log(error),
        {
          enableHighAccuracy: true,
        });
      } else {
          alert("Sorry, browser does not support geolocation!");
      }
    }

    function stopWatch() {
      geoLoc.clearWatch(watchID);
    }
  </script>
</header>